*{
    padding: 0px;
    margin: 0px;
}

html, body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background: radial-gradient(white, rgb(233, 233, 233));
    /* font-size:.6em; */
    /* position: relative; */
}


:root{
    --bdblack:black; /*bdhub black*/
    --bdgray:rgba(218, 218, 218, 0.561);
    --btnpadding:13px;
    --bdfont-size:.8em;
}


/* Container style for all div */
.container{
    text-align: center;
}

/* Text style */
h1{

}

h2{

}

p{
    font-size:1.2em;
}

.high-class{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

/* Navbar --This is invisible at the momoent coz it's a navbar ;) */
.navbar{
    display: grid;
    position:fixed;
    right: 0px;
    background: var(--bdblack);
    color: white;
    width: 70vw;
    height: 100vh;
    justify-content: center;
    display: none;
}

.navbar > .nav{
    margin-top: 6em;
    text-align: center;
    list-style: none;
}

.navbar > .nav >li{
    padding: .2em;
}

/* Header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0px;
    background: linear-gradient(180deg, rgba(233, 233, 233, 0.907), rgb(239, 239, 239));
    width: 100vw;
}

.header > h1:nth-child(1){
    margin-left: .2em;
}

.header > .menu{
    margin-right: .5em;
    height: 2.5em;
    padding: .2em;
    display: flex;
}

.header > .menu:active{
    margin-right: .5em;
    height: 2.5em;
    padding: .2em;
    display: flex;
    background-color: var(--bdgray);
}

/* Home style --which is base-1*/
.base-1{
    margin-top: 5em;
}

.base-1 > .btn{
    display: grid;
    justify-content: center;
    gap: .7em;
    margin-top: 2em;
}

.base-1 > h1{
    margin-top: 1em;
    padding: var(--btnpadding);
}

.base-1 > .btn > a > button{
    /* width: 50%; */
    padding: var(--btnpadding);
    width: 15em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.base-1 > .btn > a:nth-child(1) > button{
    background-color: var(--bdblack);
    color: white;
    border: 1px solid var(--bdblack);
}

.base-1 > .btn > a:nth-child(2) > button{
    background: var(--bdgray);
    color: var(--bdblack);
}

.base-1 > .btn > button:nth-child(1):active{
    background-color: rgb(30, 30, 30);
}

.base-1 > .btn > button:nth-child(2):active{
    background-color: rgba(99, 99, 99, 0.246);
}

.base-1 > .img{
    padding: 1em;
    margin: 0px;
}

.base-1 > .img > img{
    width: 80%;
    padding: 0em;
}

/* Quote styles */
.base-2{
    width: 100vw;
    margin-top: 2em;
}

.base-2 > h2{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.base-2 > .row{
    display: flex;
    /* gap: 500px; */
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    /* scrollbar-width: none; */
}

.base-2 > .row > div{
    padding: 1.5em;
    margin: .9em;
    background: var(--bdgray);
    border-radius: 20px;
    /* width: fit-content; */
    /* flex-grow: 1; */
    min-width: 17em;
    height: 15em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 50;
} 

.base-2 > .row > .col > div{
    margin: 0.8em;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.base-2 > .row > .col > div >  .img{
    padding: 0.5em;
    display: flex;
    height: 2em;
}

.base-2 > .row > .col > div >  .img:active{
    padding: 0.5em;
    display: flex;
    height: 2em;
    background: var(--bdgray);
    border-radius: 50px;
}



/* About style */
.base-3{
    margin-top: 2em;
    padding: .8em;
}

.base-3 > .flex{
    display: grid;
    gap: .5em;
}

.base-3 > .flex > .img > img{
    width: 100%;
}

.base-3 > .flex > .para {
    text-align: left;
    padding: .5em;
}

/* Contact us */
.base-4{
    margin-top: 2em;
    margin: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.base-4 > form{
    margin-top: .9em;
    display: grid;
    gap: .8em;
    padding: 3em;
    padding-top: 3.5em;
    padding-bottom: 2.5em;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-top: 2em;
}

.base-4 > form > input, textarea{
    border: none;
    padding: .8em;
    background: var(--bdgray);
    border-radius: 5px;
}

.base-4 > form > button{
    padding: var(--btnpadding);
    border-radius: 5px;
    border: none;
    background: var(--bdblack);
    color: white;
    margin-top: 1em;
}

.base-4 > p{
    max-width: 15rem;
    text-align: center;
    padding: .3em;
}

/* Footer style */
.base-5{
    margin-top: 2em;
    background: rgb(219, 219, 219);
}

.base-5 > .row{
    padding: 2em;
    display: flex;
}

.base-5 > .copywrite{
    padding: .5em;
}

.base-5 > .copywrite >p>strong>a{
    text-decoration: none;
}

/* LOGIN PAGE --for login.html*/

.login-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bg > .form-div{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    position: relative;
}

.login-bg > .form-div > form{
    display: grid;
    gap: 1em;
    position: relative;
    bottom: 110px;
    margin-top: 2em;
}

.login-bg > .form-div > h2{
    position: relative;
    top: 50px;
}

.login-bg > .form-div > span{
    margin-bottom: 1em;
    font-size:1.5rem;
}


.login-bg > .form-div > form > input{
    padding: var(--btnpadding);
    width: 15rem;
    border-radius: 10px;
    border-style: none;
    background: var(--bdgray);
}

.login-bg > .form-div > form > .btn{
    width: 100%;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}


.login-bg > .form-div > form > .btn > button:nth-child(1){
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 50px;
    border-style: none;
    background: var(--bdblack);
    color: white;
}

.login-bg > .form-div > form > .btn >a> button{
    background: var(--bdgray);
    color: var(--bdblack);
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 50px;
    border-style: none;
}

.login-bg > .form-div > form > .Google-btn{
    margin-top: 2em;
    padding: var(--btnpadding);
    /* border: 2px solid purple; */
    border-radius: 10px;
    /* background: linear-gradient(30deg, rgba(128, 0, 128, 0.057), rgba(0, 0, 255, 0.076), rgba(255, 0, 43, 0.076)); */
    font-size: 1.2em;
    font-weight: 50;
    color: purple ;
    border: 1.5px solid purple;
    
}

.login-bg > .form-div > form > a > .back-btn{
    padding: var(--btnpadding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-align: center;
    font-weight: bold;
    color: var(--bdblack);
}

.login-bg > .form-div > form > a > .back-btn:active{
    padding: var(--btnpadding);
    background: var(--bdgray);
    border-radius: 10px;
    color: var(--bdblack);
}

.login-bg > .form-div > form > a {
    text-decoration: none;
    font-style: none;
}

.login-bg > .form-div > form > a > .back-btn > .img{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-bg > .form-div > form > a > .back-btn > .img > img{
    height: 1.5em;
    padding: 0px;
    margin: 0px;
}


/* SIGN-UP --for sign-up.html*/

.sing-up-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-up-bg > .form-div{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    position: relative;
}

.sing-up-bg > .form-div > h2{
    position: relative;
    top: 50px;
}

.sing-up-bg > .form-div > span{
    margin-bottom: 1em;
    font-size:1.5rem;
}

.sing-up-bg > .form-div > form{
    display: grid;
    gap: 1em;
    position: relative;
    bottom: 110px;
    margin-top: 2em;
}

.sing-up-bg > .form-div > form > input{
    padding: var(--btnpadding);
    width: 15rem;
    border-radius: 10px;
    border-style: none;
    background: var(--bdgray);
}

.sing-up-bg > .form-div > form > .btn{
    width: 100%;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}



.sing-up-bg > .form-div > form > .btn > button:nth-child(1){
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 50px;
    border-style: none;
    background: var(--bdblack);
    color: white;
}

.sing-up-bg > .form-div > form > .btn > a > button{
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 50px;
    border-style: none;
    background: var(--bdgray);
    color: var(--bdblack);
}

.sing-up-bg > .form-div > form > .Google-btn{
    margin-top: 2em;
    padding: var(--btnpadding);
    /* border: 2px solid purple; */
    border-radius: 10px;
    /* background: linear-gradient(30deg, rgba(128, 0, 128, 0.057), rgba(0, 0, 255, 0.076), rgba(255, 0, 43, 0.076)); */
    font-size: 1.2em;
    font-weight: 50;
    color: purple ;
    border: 1.5px solid purple;
    
}

.sing-up-bg > .form-div > form > a > .back-btn{
    padding: var(--btnpadding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-align: center;
    font-weight: bold;
    color: var(--bdblack);
}

.sing-up-bg > .form-div > form > a > .back-btn:active{
    padding: var(--btnpadding);
    background: var(--bdgray);
    border-radius: 10px;
    color: var(--bdblack);
}

.sing-up-bg > .form-div > form > a {
    text-decoration: none;
    font-style: none;
}

.sing-up-bg > .form-div > form > a > .back-btn > .img{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.sing-up-bg > .form-div > form > a > .back-btn > .img > img{
    height: 1.5em;
    padding: 0px;
    margin: 0px;
}

