*{
    padding: 0px;
    margin: 0px;
}

html, body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background: radial-gradient(white, rgb(233, 233, 233));
    /* font-size:.6em; */
    /* position: relative; */
}


:root{
    --bdblack:black; /*bdhub black*/
    --bdgray:rgba(218, 218, 218, 0.561);
    --btnpadding:13px;
    --bdfont-size:.8em;
    --bg-color:radial-gradient(white, rgb(233, 233, 233));
    --btn-active-b-color: rgb(30, 30, 30);
    --btn-active-g-color: rgb(149, 149, 149);
}


/* Container style for all div */
.container{
    text-align: center;
}

/* Text style */
h1{

}

h2{

}

p{
    font-size:1.2em;
}

button{
    font-weight: bold;
}

.high-class{
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}


/* Navbar --This is invisible at the momoent coz it's a navbar ;) */
.navbar{
    display: grid;
    position:fixed;
    right: 0px;
    background: none;/*change the color to understand what i did*/
    color: white;
    height: 100vh;
    justify-content: center;
    /* display: none; */
    z-index: 2;
    bottom: 94%;
    transition: 1.5s;
    width: 50px;
    border-bottom-left-radius: 20px;
}

.navbar:hover{/* this is used to animate the visibility of the nav-bar to the screen*/
    bottom: 0;
    background: var(--bdblack);
    width: 70vw;
    border-bottom-left-radius: 0px;
}

.navbar > .nav{
    margin-top: 6em;
    text-align: center;
    list-style: none;
    display: grid;
    height: 30%;
    gap: 2px;
}

.navbar > .nav > li > a{
    font-weight: lighter;
    padding: .2em;
    text-decoration: none;
    font-style: normal;
    color: white;
    transition: 2s;
    /* background: blue; */
}

.navbar > .nav > li > a:hover{
    border-bottom: 1px solid white;
    transition: 2s;
}

.navbar > .nav > li:nth-child(5){
    font-size: 12px;
}

/* Header style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    position: fixed;
    top: 0px;
    background: linear-gradient(180deg, rgba(233, 233, 233, 0.907), rgb(239, 239, 239));
    width: 100vw;
    z-index: 1;
}

.header > .bd-logo{
    margin-left:.5em ;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 18px;
}

.header > .bd-logo > img{
    height: 1.8em;
}

.header > h1:nth-child(1){
    margin-left: .2em;
}

.header > .menu{
    margin-right: .5em;
    height: 2.5em;
    padding: .2em;
    display: flex;
}

.header > .menu:active{
    background-color: var(--bdgray);
}

/* Home style --which is base-1*/

.base-1{
    margin-top: 5em;
}

.base-1 > .btn{
    display: grid;
    justify-content: center;
    gap: .7em;
    margin-top: 2em;
}

.base-1 > h1{
    margin-top: 1em;
    padding: var(--btnpadding);
}

.base-1 > .btn > a > button{
    /* width: 50%; */
    padding: var(--btnpadding);
    width: 15em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.base-1 > .btn > a:nth-child(1) > button{
    background-color: var(--bdblack);
    color: white;
    border: 1px solid var(--bdblack);
    cursor: pointer;
}

.base-1 > .btn > a:nth-child(2) > button{
    background: var(--bdgray);
    color: var(--bdblack);
    cursor: pointer;
}

.base-1 > .btn > a:nth-child(1) > button:active{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.base-1 > .btn > a:nth-child(2) > button:active{
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.base-1 > .img{
    padding: 1em;
    margin: 0px;
}

.base-1 > .img > img{
    width: 80%;
    padding: 0em;
}



/* Quote styles */
.base-2{
    width: 100vw;
    margin-top: 2em;
}

.base-2 > h2{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.base-2 > .row{
    display: flex;
    /* gap: 500px; */
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    /* scrollbar-width: none; */
}

.base-2 > .row > div{
    padding: 1.5em;
    margin: .9em;
    background: var(--bdgray);
    border-radius: 20px;
    /* width: fit-content; */
    /* flex-grow: 1; */
    min-width: 17em;
    height: 15em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 50;
} 

.base-2 > .row > .col > div{
    margin: 0.8em;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.base-2 > .row > .col > div >  .img{
    padding: 0.5em;
    display: flex;
    height: 2em;
}

.base-2 > .row > .col > div >  .img:active{
    padding: 0.5em;
    display: flex;
    height: 2em;
    background: var(--bdgray);
    border-radius: 50px;
}



/* About style */
.base-3{
    margin-top: 2em;
    padding: .8em;
}

.base-3 > .flex{
    display: grid;
    gap: .5em;
}

.base-3 > .flex > .img > img{
    width: 100%;
}

.base-3 > .flex > .para {
    text-align: left;
    padding: .5em;
}

/* Contact us */
.base-4{
    margin-top: 2em;
    margin: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.base-4 > form{
    margin-top: .9em;
    display: grid;
    gap: .8em;
    padding: 3em;
    padding-top: 4em;
    padding-bottom: 4em;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    margin-top: 2em;
}

.base-4 > form > input, textarea{
    border: none;
    padding: .8em;
    background: var(--bdgray);
    border-radius: 5px;
}

.base-4 > form > button{
    padding: var(--btnpadding);
    border-radius: 5px;
    border: none;
    background: var(--bdblack);
    color: white;
    margin-top: 1em;
    cursor: pointer;
}

.base-4 > p{
    max-width: 15rem;
    text-align: center;
    padding: .3em;
}

/* Footer style */
.base-5{
    margin-top: 2em;
    background: rgb(219, 219, 219);
}

.base-5 > .row{
    padding: 2em;
    display: flex;
}

.base-5 > .copywrite{
    padding: .5em;
}

.base-5 > .copywrite >p>strong>a{
    text-decoration: none;
}

/* LOGIN PAGE --for login.html*/

.login-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bg > .form-div{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    position: relative;
}

.login-bg > .form-div > form{
    display: grid;
    gap: 1em;
    margin-top: 2em;
}

.login-bg > .form-div > h2{
    position: relative;
    top: 50px;
}

.login-bg > .form-div > form > .bd-logo > img{
    height: 3.5em;
}

.login-bg > .form-div > form > span{
    /* margin-bottom: 1em; */
    font-size:1rem;
}


.login-bg > .form-div > form > input{
    padding: var(--btnpadding);
    width: 15rem;
    border-radius: 10px;
    border-style: none;
    background: var(--bdgray);
}

.login-bg > .form-div > form > .btn{
    width: 100%;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}


.login-bg > .form-div > form > .btn > a:nth-child(1) > button{
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 10px;
    border-style: none;
    background: var(--bdblack);
    color: white;
    cursor: pointer;
}

.login-bg > .form-div > form > .btn > a:nth-child(2) > button{
    background: var(--bdgray);
    color: var(--bdblack);
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.login-bg > .form-div > form > .Google-btn{
    animation-name: googlBtnAni;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 2em;
    padding: .5em;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    background: linear-gradient(60deg,rgb(53, 131, 255) -20%, rgb(255, 63, 63) , rgb(255, 225, 29), rgb(43, 255, 43) );
    background-size: 200% auto;
    transition: 1s;
}

.login-bg > .form-div > form > .Google-btn:hover{
    background-position: right center;
}

.login-bg > .form-div > form > .Google-btn > .img{
    height: 1.8em;
}

.login-bg > .form-div > form > .Google-btn > h5{
    font-weight: lighter;
}

.login-bg > .form-div > form > a > .lost-pass{
    padding: var(--btnpadding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

.login-bg > .form-div > form > a > .lost-pass:active{
    padding: var(--btnpadding);
    background: var(--bdgray);
    border-radius: 10px;
}

.login-bg > .form-div > form > a {
    font-style: none;
}



/* SIGN-UP --for sign-up.html*/

.sing-up-bg{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-up-bg > .form-div{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
    text-align: center;
    position: relative;
}



.sing-up-bg > .form-div > form > span{
    /* margin-bottom: 1em; */
    font-size:1rem;
}

.sing-up-bg > .form-div > form{
    display: grid;
    gap: 1em;
    margin-top: 2em;
}

.sing-up-bg > .form-div > form > .bd-logo > img{
    height: 3.5em;
}

.sing-up-bg > .form-div > form > input{
    padding: var(--btnpadding);
    width: 15rem;
    border-radius: 10px;
    border-style: none;
    background: var(--bdgray);
}

.sing-up-bg > .form-div > form > .btn{
    width: 100%;
    /* background: white; */
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}



.sing-up-bg > .form-div > form > .btn > a:nth-child(1) > button{
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 10px;
    border-style: none;
    background: var(--bdblack);
    color: white;
    cursor: pointer;
}

.sing-up-bg > .form-div > form > .btn > a:nth-child(2) > button{
    padding: var(--btnpadding);
    width: 9.5em;
    border-radius: 10px;
    border-style: none;
    background: var(--bdgray);
    color: var(--bdblack);
    cursor: pointer;
}

.sing-up-bg > .form-div > form > .Google-btn{
    animation-name: googlBtnAni;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin-top: 2em;
    padding: .5em;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    background: linear-gradient(60deg,rgb(53, 131, 255) -20%, rgb(255, 63, 63) , rgb(255, 225, 29), rgb(43, 255, 43) );
    background-size: 200% auto;
    transition: 1s;
}

.sing-up-bg > .form-div > form > .Google-btn:hover{
    background-position: right center;
}


.sing-up-bg > .form-div > form > .Google-btn > .img{
    height: 1.8em;
}

.sing-up-bg > .form-div > form > a > .log-insted{
    padding: var(--btnpadding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    text-align: center;
    font-weight: lighter;
    font-size: small;
}

.sing-up-bg > .form-div > form > a > .log-insted:active{
    padding: var(--btnpadding);
    background: var(--bdgray);
    border-radius: 10px;
}

.sing-up-bg > .form-div > form > a {
    /* text-decoration: none; */
    font-style: none;
}





/* USER  --this is the styles for the user page */
.search-popup{
    position: absolute;
    /* bottom: 20%; */
    background: rgba(128, 128, 128, 0.349);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.search-popup > form{
    padding: 2em;
    height: 50%;
    width: 80%;
    background: var(--bg-color);
    border-radius: 20px;
    position: absolute;
    top: 20%;
    display: grid;
    justify-content: center;
    overflow-y: scroll;
}

.search-popup > form >p{
    text-align: center;
    margin-bottom: .5em;
    font-size: xx-large;
}

.search-popup > form > div{
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--bdgray);
    padding: .2em;
    border-radius: 10px;
}

.search-popup > form > div > .input{
    padding: var(--btnpadding);
    border: none;
    background: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20px;
    width: 100%;
}

/* .search-popup > form > div > .input:{
    border: 2px solid blue;
} */

.search-popup > form > div > .button{
    padding: .2em;
    margin: .2em;
    height: 40px;
    width: 8em;
    border: none;
    background: var(--bdblack);
    color: white;
    border-radius: 10px;
}

.search-popup > form  > .search-bd-list{
    background: var(--bdgray);
    margin-top: .5em;
    border-radius: 20px;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: left;
}

.search-popup > form  > .search-bd-list > .title{
    padding: 1em;
}

.search-popup > form  > .search-bd-list > .avater{
    margin-left: 1em;
    padding: 1em;
    background: rgb(255, 75, 105);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-popup > form  > .search-bd-list > .title{
    text-align: justify;
}

.search-popup > form  > .search-bd-list > .title > p:nth-child(1){
    margin-bottom: .3em;
}

.search-popup > form  > .search-bd-list > .title > p:nth-child(2){
    font-size: smaller;
    margin-bottom: .5em;
    color: rgb(147, 147, 147);
}


.search-popup > form  > .search-bd-list > .title > .manual{
    font-size: x-small;
    padding: .3em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid rgb(0, 107, 107);
    background: rgba(42, 220, 255, 0.522);
    color: rgb(0, 107, 107);
    border-radius: 50px;
}

.search-popup > form  > .search-bd-list > .title > .form{/*This is the span, used for indication*/
    font-size: x-small;
    padding: .3em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid rgb(107, 0, 89);
    background: rgba(255, 42, 209, 0.522);
    color: rgb(107, 0, 84);
    border-radius: 50px;
}

.top{
    margin-top: 5em;
    text-align: center;
}

.top > .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .9em;
    padding-right: .9em;
}



.top > .title > .user{
    height: fit-content;
    background: var(--bdgray);
    padding: .6em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: x-small;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    gap: .8em;
    border-radius: 50px;
}

.top > .title > .user > img{
    background: black;
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

.top > .menu{/*This is where the two buttons are with the search png/img / the two buttons are located here with the search png/img*/
    margin: 1em;
    display: flex;
    height: fit-content;
    background: var(--bdgray);
    border-radius: 20px;
    display: flex;
    align-self: center;
}

.top > .menu > .btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* width: fit-content; */
    /* margin: 1em; */
}


.top > .menu > .btn > a > button{
    padding: var(--btnpadding);
    margin: 1px;
    border: none;
    background: var(--bdblack);
    color: #ffffff;
    width: 8em;
    border-radius: 20px;
    cursor: pointer;
}



.top > .menu > .btn > .row{
    padding: .3em;
    display: flex;
    justify-content: right;
    height: 2em;
    width: 50%;
    padding-right: .5em;
}


.top > .menu > .btn > .row > input{
    background: none;
    border: none;
    padding-left: .2em;
    width: 100%;
    border-radius: 10px;
}

.search-img{
    /* height: 1.5em; */
    padding-left: .8em;
    padding-right: .8em;
}

.user-container{
    margin:1em;
    /* background: blue; */
    height: 70vh;
    overflow-y: scroll;
}

.user-container > .bd-list{
    padding: 1.5em;
    border-bottom: 2px solid var(--bdgray);
    display: flex;
    gap: 1em;
}

.user-container > .bd-list > .avater{
    padding: 1em;
    background: rgb(255, 75, 105);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container > .bd-list > .title{
    text-align: justify;
}

.user-container > .bd-list > .title > p:nth-child(1){
    margin-bottom: .3em;
}

.user-container > .bd-list > .title > p:nth-child(2){
    font-size: smaller;
    margin-bottom: .5em;
    color: rgb(147, 147, 147);
}


.user-container > .bd-list > .title > .manual{
    font-size: x-small;
    padding: .3em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid rgb(0, 107, 107);
    background: rgba(42, 220, 255, 0.522);
    color: rgb(0, 107, 107);
    border-radius: 50px;
}

.user-container > .bd-list > .title > .form{/*This is the span, used for indication*/
    font-size: x-small;
    padding: .3em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid rgb(107, 0, 89);
    background: rgba(255, 42, 209, 0.522);
    color: rgb(107, 0, 84);
    border-radius: 50px;
}


/* WELCOME PAGE  */

.welcome{
    height: 100vh;
    
}

.welcome > .img{
    margin-top: 5em;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.welcome > .img > img{
    height: 5em;
}

.welcome > .title{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

.welcome > .btn{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.welcome > .btn > span{
    font-size: smaller;
    padding: .5em;
}

.welcome > .btn > button{
    padding: var(--btnpadding);
    background: var(--bdblack);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    /* width: 5em; */
}

.welcome > .btn > button > a{
    text-decoration: none;
    /* font-style: normal; */
    color: white;
}

/* ADD-BIRTHDAY-MANUAL PAGE STYLE */
.manual-form{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.manual-form > div > form{
    display: grid;
    gap: .5em;
    padding: 4em;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    text-align: center;
}

.manual-form > div > form > .discription{
    padding-bottom: 1em;
    text-align: center;
}

.manual-form > div > form > .manual-icon{
    height: 4em;
    display: flex;
    justify-content: center;
}

.manual-form > div > form > input{/* This the manual general input style */
    padding: var(--btnpadding);
    border: none;
    background: var(--bdgray);
    margin-top: .5em;
    border-radius: 10px;
}

.manual-form > div > form > textarea{
    padding: var(--btnpadding);
    border: none;
    background: var(--bdgray);
    margin-top: .5em;
    border-radius: 10px;
}

.manual-form > div > form > .submit{
    padding: var(--btnpadding);
    border: none;
    border-radius: 10px;
    background: var(--bdblack);
    color: white;
}

.manual-form > div > form > .submit:active{
    background: var(--btn-active-b-color);
}

.manual-form > div > form > .shear{
    padding: var(--btnpadding);
    border: none;
    border-radius: 10px;
    background: var(--bdgray);
    color: var(--bdblack);
    margin-top: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.manual-form > div > form > .shear:active{
    background: var(--btn-active-g-color);
}

.manual-form > div > form > .shear > img{
    height: 1.5em;
}

.manual-form > div > form > a{
    text-align: center;
    padding: var(--btnpadding);
}




/* This is for bigger screen like laptop  */
/* NOTE: NOTHING SHOULD BE AT THE BOTTOM!! */

@media (min-width:1024px) {

    
    .navbar{
        width: 60px;
    }
    
    .navbar:hover{
        bottom: 0;
        background: var(--bdblack);
        width: 20vw;
        border-bottom-left-radius: 0px;
    }

    body, html{
        font-size: 1rem;
    }

    .header > .menu{
        margin-right: 1.5em;
        height: 2em;
        padding: .2em;
        display: flex;
    }

    /* Home style --which is base-1*/

    .base-1 > .btn{
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-top: 2em;
    }


    
    .base-1 > .btn > a > button{
        /* width: 50%; */
        padding: var(--btnpadding);
        width: 13em;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .base-1 > .img > img{
        width: 20%;
        /* min-width: 20em; */
        padding:2em;
    }
    
    .base-2{
        width: 100vw;
        margin-top: 2em;
        display: grid;
        gap: 2em;
    }

    /* About style */
    .base-3{
        margin-top: 4em;
        padding: 4em;
    }

    .base-3 > .flex{
        margin-top: 0em;
        padding: 1em;
        display: flex;
        gap: 0em;
        justify-content: center;
    }

    .base-3 > .flex > .img {
        width: 200em;
        padding: 0px;
    }

    .base-3 > .flex > .img > img{
        width: 18em;
        padding: 0px;
        margin: 0px;
    }

.base-3 > .flex > .img{
    /* background: blue; */
    padding: 0px;
    width: fit-content;
}

    .base-3 > .flex > .para {
        text-align: left;
        /* background: navy; */
        padding-left: 1em;
        /* padding: .8em; */
    }


    /* Contact us*/
    .base-4{
        margin-top: 4em;
    }

    .base-4 > form{
        padding: 5em;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    /* Index.html This is for the user.html page */
    .top{
        margin-top: 3em;
        text-align: center;
    }

    /* USER PAGE */

    .top > .title > .text{/*This is to give the intro "List of added bd's" a width so it could be centers in the page*/
        width: 55%;
        text-align: right;
    }

    .search-popup > form{
        width: 50%;
    }
}

